<div>
  <h2>Movimentar Orçamento</h2>
  <form (ngSubmit)="onSubmit()" #movimentarOrcamentoForm="ngForm" class="space-y-4">
    <div class="relative">
      <label for="entidade" class="block text-gray-700">Entidade:</label>
      <div class="flex items-center">
        <select class="border border-gray-300 p-2 pl-2 rounded focus:outline-none focus:border-black-500"
                id="entidade" name="entidade" [(ngModel)]="selectedEntidade" required>
          <option *ngFor="let entidade of entidades" [value]="entidade.nome">{{ entidade.nome }}</option>
        </select>
      </div>
    </div>

    <div class="relative">
      <label for="valorMovimentado" class="block text-gray-700">Valor Movimentado:</label>
      <div class="flex items-center">
        <input class="border border-gray-300 p-2 pl-2 rounded focus:outline-none focus:border-black-500"
               type="number" id="valorMovimentado" name="valorMovimentado"
               [(ngModel)]="valorMovimentado" required>
      </div>
    </div>

    <div class="relative">
      <label for="justificativa" class="block text-gray-700">Justificativa:</label>
      <div class="flex items-center">
        <textarea class="border border-gray-300 p-2 pl-2 rounded focus:outline-none focus:border-black-500"
                  id="justificativa" name="justificativa" [(ngModel)]="justificativa" required></textarea>
      </div>
    </div>

    <div class="relative">
      <label for="saldo" class="block text-gray-700">Saldo:</label>
      <div class="flex items-center">
        <input class="border border-gray-300 p-2 pl-2 rounded focus:outline-none focus:border-black-500"
               type="text" id="saldo" name="saldo" [(ngModel)]="saldo" disabled>
      </div>
    </div>

    <button type="submit" class="bg-yellow-300 text-black font-bold py-2 px-4 rounded hover:bg-yellow-400 focus:outline-none focus:shadow-outline-yellow">
      Movimentar
    </button>
  </form>
</div>
