<div>
  <h2>Cadastrar Novo Usuário</h2>
  <!-- aqui usa Interpolation: Exibindo o valor de user.nome no input -->
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" [(ngModel)]="user.nome" required pattern="[A-Za-z]+">


    <!-- Interpolation: Exibe o valor de user.email no input -->
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="user.email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">


    <!-- aqui usa Event Binding: Chamando a função onSubmit() quando o formulário é submetido -->
    <button type="submit" [disabled]="!userForm.valid">Cadastrar</button>
  </form>
</div>
