<div>
  <h2>Cadastrar Novo Usuário</h2>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" [(ngModel)]="user.nome" required pattern="[A-Za-z]+">
    <div *ngIf="userForm.submitted && userForm.controls['nome'].hasError('required')">Campo Nome é obrigatório.</div>
    <div *ngIf="userForm.submitted && userForm.controls['nome'].hasError('pattern')">Nome inválido. Use apenas letras.</div>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="user.email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
    <div *ngIf="userForm.submitted && userForm.controls['email'].hasError('required')">Campo Email é obrigatório.</div>
    <div *ngIf="userForm.submitted && userForm.controls['email'].hasError('pattern')">Email inválido. Use um formato válido.</div>

    <button type="submit" [disabled]="!userForm.valid">Cadastrar</button>
  </form>
</div>
