<!-- app.component.html -->
<div class="app">
  <div class="sidebar">
    <app-system-sidebar></app-system-sidebar>
  </div>

  <div class="content">
    <div class="nav">
      <app-system-navbar></app-system-navbar>
    </div>

    <div>
      <main>
        <div class="header">
          <div class="left">

          </div>
          <a routerLink="/movimentar-orcamento" class="report">
            <i class='bx bx-plus'></i>
            <span>Realizar Movimentação</span>
          </a>
        </div>

        <div class="analises-entidade">
          <!-- Conteúdo de AnalisesEntidade -->
        </div>

        <div class="bottom-data">
          <div class="dashboard">
            <!-- Conteúdo de Dashboard -->
          </div>

          <div class="movimentacoes-recentes">
            <!-- Conteúdo de MovimentacoesRecentes -->
          </div>

          <!-- Adicione os componentes restantes conforme necessário -->
        </div>
      </main>
    </div>

    <div>
      <div class="lista-movimentacoes">
        <!-- Conteúdo de ListaMovimentacoes -->
      </div>
    </div>

    <div>
      <div class="lista-entidades">
        <!-- Conteúdo de ListaEntidades -->
      </div>
    </div>

    <div>
      <div class="lista-usuarios">
        <!-- Conteúdo de ListaUsuarios -->
      </div>
    </div>
  </div>
</div>
