<!-- app.component.html -->
<div class="app content">
  <div>
    <app-system-sidebar></app-system-sidebar>
  </div>

  <div>
    <div class="nav">
      <app-system-navbar></app-system-navbar>
    </div>

    <div>
      <main>
        <div class="header">
          <div class="left">
            <p>Bem vindo novamente, <b>{{usuarioLogado}}!</b></p>
          </div>
          <a routerLink="/movimentar-orcamento" class="report">
            <i class='bx bx-plus'></i>
            <span>Realizar Movimentação</span>
          </a>
        </div>



        <div class="styleMain">
          <div class="dashboard">
            <app-dashboard-movimentacoes></app-dashboard-movimentacoes>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
