@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
	--light: #f6f6f9;
	--amarelo-utfpr: #FECC00;
	--light-primary: #CFE8FF;
	--grey: #eee;
	--dark-grey: #4e4e4c;
	--dark: #363949;
	--vermelho-escuro: #d84550;
	--light-danger: #FECDD3;
	--amarelo: #FBC02D;
	--amarelo-claro: #FFF2C6;
	--verde-escuro: #5aab35;
	--light-success: #BBF7D0;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.password-input {
  position: relative;
  display: flex;
}

.password-input input {
  flex: 1;
  padding-right: 40px; /* Adicione um espaço à direita para acomodar o ícone */
}

.password-input .eye-icon {
  position: absolute;
  top: 38%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.bx{
	font-size: 1.7rem;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

html{
	overflow-x: hidden;
}

.login-box {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--light);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark);
  margin-bottom: 10px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 0.1px solid var(--dark-grey);
  border-radius: 7px;
  margin-bottom: 20px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--light);
  background-color: var(--amarelo-utfpr);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: var(--amarelo);
}

.login-box p {
  margin-top: 20px;
  text-align: center;
}

.login-box p a {
  color: var(--amarelo-utfpr);
  font-weight: 600;
  text-decoration: none;
}

.login-box p a:hover {
  text-decoration: underline;
}

body.dark{
	--light: #181a1e;
	--grey: #25252c;
	--dark: #fbfbfb
}

.i-white{
color: white;
}

.text-center{
	text-align: center;
}

.btn-primary {
background-color: #03518C;
border: 1px solid #03518C;
border-radius: 26px;
transition: transform 0.2s ease; 
}

.w1-100{
	width: 100%;
}
.w-50{
	width: 50%;
}

.btn-primary:active {
transform: scale(1.1); 
border-color: #03518C;
}
body.dark .styleMain {
background-color: #181a1e;
color: #fff;
}
body{
	background: var(--grey);
	overflow-x: hidden;
}

.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	background: var(--light);
	width: 230px;
	height: 100%;
	z-index: 2000;
	overflow-x: hidden;
	scrollbar-width: none;
	transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
	display: none;
}

.sidebar.close{
	width: 60px;
}

.sidebar .logo{
	font-size: 15px;
	font-weight: 700;
	height: 56px;
	padding: 5px;
	display: flex;
	align-items: center;
	color: var(--amarelo-utfpr);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}

.sidebar .logo .logo-name span{
	color: var(--dark);
}

.sidebar .logo .bx{
	min-width: 60px;
	display: flex;
	justify-content: center;
	font-size: 2.2rem;
}

.sidebar .side-menu{
	width: 100%;
	margin-top: 48px;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.logo-sidebar{
	transition: ease-out 0.2s;
	width: 55px;
}

.logo-sidebar-extend{
	transition: ease-in-out 0.2s;
	margin-top: 80px;
	width: 200px;
	padding: 0.5rem;
}

.table-responsive > .table {
  margin-bottom: 0;
}
.sidebar .side-menu li{
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}

.sidebar .side-menu li.active{
	background: var(--grey);
	position: relative;
}

.sidebar .side-menu li.active::before{
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}

.sidebar .side-menu li.active::after{
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}

.sidebar .side-menu li a{
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
	transition: all 0.3s ease;
}

.sidebar .side-menu li.active a{
	color: var(--amarelo);
}

.sidebar.close .side-menu li a{
	width: calc(48px - (4px * 2));
	transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
	min-width: calc(60px - ((4px + 6px) * 2));
	display: flex;
	font-size: 1.6rem;
	justify-content: center;
}

.sidebar .side-menu li a.logout{
	color: var(--vermelho-escuro);
}

.content{
	position: relative;
	width: calc(100% - 230px);
	left: 230px;
	transition: all 0.3s ease;
}

.sidebar.close~.content{
	width: calc(100% - 60px);
	left: 60px;
}

.content nav{
	height: 56px;
	background: var(--light);
	padding: 0 24px 0 0;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

.content nav::before{
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}

.content nav a{
	color: var(--dark);
}

.content nav .bx.bx-menu{
	cursor: pointer;
	color: var(--dark);
}

.content nav form{
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}

.content nav form .form-input{
	display: flex;
	align-items: center;
	height: 36px;
}

.content nav form .form-input input{
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}

.content nav form .form-input button{
	width: 80px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--amarelo-utfpr);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}

.content nav .notif{
	font-size: 20px;
	position: relative;
}

.content nav .notif .count{
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	background: var(--vermelho-escuro);
	border-radius: 50%;
	color: var(--light);
	border: 2px solid var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content nav .profile img{
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}

.content nav .theme-toggle{
	display: block;
	min-width: 50px;
	height: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
	border-radius: 25px;
}

.content nav .theme-toggle::before{
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--amarelo-utfpr);
	border-radius: 50%;
	transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
	left: calc(100% - (25px - 4px) - 2px);
}

.content main{
	width: 100%;
	padding: 36px 24px;
	max-height: calc(100vh - 56px);
}

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}

.header .left h1{
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
.header .left h2{
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
h1{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}

.header .left .breadcrumb{
	display: flex;
	align-items: center;
	grid-gap: 16px;
}

.header .left .breadcrumb li{
	color: var(--dark);
}

.header .left .breadcrumb li a{
	color: var(--dark-grey);
	pointer-events: none;
}

.header .left .breadcrumb li a.active{
	color: var(--amarelo-utfpr);
	pointer-events: none;
}

.header .report{
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--amarelo-utfpr);
	color: var(--light);
	display: flex;
	align-items: center;
	justify-content: center;
	grid-gap: 10px;
	font-weight: 500;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}

.header .left h1{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}

.header .left .breadcrumb{
	display: flex;
	align-items: center;
	grid-gap: 16px;
}

.header .left .breadcrumb li{
	color: var(--dark);
}

.header .left .breadcrumb li a{
	color: var(--dark-grey);
	pointer-events: none;
}

.header .left .breadcrumb li a.active{
	color: var(--amarelo-utfpr);
	pointer-events: none;
}

.header .report{
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--amarelo-utfpr);
	color: var(--light);
	display: flex;
	align-items: center;
	justify-content: center;
	grid-gap: 10px;
	font-weight: 500;
}
.insights{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}

.insights li{
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	cursor: pointer;
}

.insights li .bx{
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.insights li:nth-child(1) .bx{
	background: var(--light-primary);
	color: var(--amarelo-utfpr);
}

.insights li:nth-child(2) .bx{
	background: var(--amarelo-claro);
	color: var(--amarelo);
}

.insights li:nth-child(3) .bx{
	background: var(--light-success);
	color: var(--verde-escuro);
}

.insights li:nth-child(4) .bx{
	background: var(--light-danger);
	color: var(--vermelho-escuro);
}

.insights li .info h3{
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}

.insights li .info p{
	color: var(--dark);
}

.bottom-data{
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}

.bottom-data>div{
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
.text-center{
	justify-content: center;
}
.styleMain{
	padding: 20px;
	margin: 45px 35px;
	width: auto;
	background-color: #F6F6F9;
	border-radius: 26px;
}
th{
	padding: 5px;
}

@media (max-width: 992px) {
	.styleMain {
		margin-top: 5%;
		width: 90%;
	 	margin-left: 15px;
	}
}

.bottom-data .header{
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}

.bottom-data .header h3{
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}

.bottom-data .header .bx{
	cursor: pointer;
}

.bottom-data .orders{
	flex-grow: 1;
	flex-basis: 500px;
}

.bottom-data .orders table{
	width: 100%;
	border-collapse: collapse;
}

.bottom-data .orders table th{
	padding-bottom: 12px;
	font-size: 20px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}

.bottom-data .orders table td{
	padding: 16px 0;
}

.bottom-data .orders table tr td:first-child{
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}

.bottom-data .orders table td img{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}

.bottom-data .orders table tbody tr{
	cursor: pointer;
	transition: all 0.3s ease;
}

.bottom-data .orders table tbody tr:hover{
	background: var(--grey);
}

.bottom-data .orders table tr td .status{
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}

.bottom-data .orders table tr td .status.completed{
	background: var(--verde-escuro);
}

.bottom-data .orders table tr td .status.process{
	background: var(--amarelo-utfpr);
}

.bottom-data .orders table tr td .status.pending{
	background: var(--amarelo);
}
.orders{
	flex-grow: 1;
	flex-basis: 500px;
}

.orders table{
	width: 100%;
	border-collapse: collapse;
}

.orders table th{
	padding-bottom: 12px;
	font-size: 15px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}

.orders table td{
	padding: 16px 0;
}

.orders table tr td:first-child{
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}

.orders table td img{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}

.orders table tbody tr{
	cursor: pointer;
	transition: all 0.3s ease;
}

.orders table tbody tr:hover{
	background: var(--grey);
}

.orders table tr td .status{
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}

.orders table tr td .status.completed{
	background: var(--verde-escuro);
}

.orders table tr td .status.process{
	background: var(--amarelo-utfpr);
}

.orders table tr td .status.pending{
	background: var(--amarelo);
}
.bottom-data .reminders{
	flex-grow: 1;
	flex-basis: 300px;
}

.bottom-data .reminders .task-list{
	width: 100%;
}

.bottom-data .reminders .task-list li{
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	padding: 14px 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bottom-data .reminders .task-list li .task-title{
	display: flex;
	align-items: center;
}

.bottom-data .reminders .task-list li .task-title p{
	margin-left: 6px;
}

.bottom-data .reminders .task-list li .bx{
cursor: pointer;  
}

.bottom-data .reminders .task-list li.completed{
	border-left: 10px solid var(--verde-escuro);
}

.bottom-data .reminders .task-list li.not-completed{
	border-left: 10px solid var(--vermelho-escuro);
}

.bottom-data .reminders .task-list li:last-child{
 margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	.sidebar{
			width: 200px;
	}

	.content{
			width: calc(100% - 60px);
			left: 200px;
	}

}

@media screen and (max-width: 576px) {
	
	.content nav form .form-input input{
			display: none;
	}

	.content nav form .form-input button{
			width: auto;
			height: auto;
			background: transparent;
			color: var(--dark);
			border-radius: none;
	}

	.content nav form.show .form-input input{
			display: block;
			width: 100%;
	}

	.content nav form.show .form-input button{
			width: 36px;
			height: 100%;
			color: var(--light);
			background: var(--vermelho-escuro);
			border-radius: 0 36px 36px 0;
	}

	.content nav form.show~.notif, .content nav form.show~.profile{
			display: none;
	}

	.insights {
			grid-template-columns: 1fr;
	}

	.bottom-data .header{
			min-width: 340px;
	}

	.bottom-data .orders table{
			min-width: 340px;
	}

	.bottom-data .reminders .task-list{
			min-width: 340px;
	}

}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
	border-radius: 35px;
  background-color: #fff;
  cursor: pointer;
}


.pagination button.active {
  background-color: var(--amarelo-utfpr);
  color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: var(--light);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 100%;
  width: 400px;
  position: relative;
}

.modal-close {
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: var(--dark);
  cursor: pointer;
}

.modal-content {
  margin-top: 20px;
}

.modal h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 20px;
}

.modal label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark);
  margin-bottom: 10px;
}

.modal input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 0.1px solid var(--dark-grey);
  border-radius: 7px;
  margin-bottom: 20px;
}
.modal select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 0.1px solid var(--dark-grey);
  border-radius: 7px;
  margin-bottom: 20px;
}

.modal button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--light);
  background-color: var(--amarelo-utfpr);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: var(--amarelo);
}

.modal p {
  margin-top: 20px;
  text-align: center;
}

.modal p a {
  color: var(--amarelo-utfpr);
  font-weight: 600;
  text-decoration: none;
}

.modal p a:hover {
  text-decoration: underline;
}
