<!-- login-box.component.html -->
<div class="login-box">
  <img src="assets/img/utfpr.png"alt="Login" style="width: 100%;" />
  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <label for="username">Usuario</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required />

    <label for="password">Senha</label>
    <div class="password-input">
      <input #passwordInput type="password" id="password" name="password" [(ngModel)]="password" required />
      <div class="eye-icon" (click)="handleTogglePassword()">
        <i [class]="showPassword ? 'bx bx-show' : 'bx bx-hide'"></i>
      </div>
    </div>
    <button type="submit" >Login</button>
  </form>
  <p>
    Não tem uma conta? <a target="_blank" href="https://sistemas2.utfpr.edu.br/login" rel="noreferrer">Abra uma solicitação</a>
  </p>
</div>
