@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'boxicons/css/boxicons.min.css';
/* @import url("https://mss.com/css/mss.css"); */
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
	--light: #f6f6f9;
	--amarelo-utfpr: #FECC00;
	--light-primary: #CFE8FF;
	--grey: #eee;
	--dark-grey: #4e4e4c;
	--dark: #363949;
	--vermelho-escuro: #d84550;
	--light-danger: #FECDD3;
	--amarelo: #FBC02D;
	--amarelo-claro: #FFF2C6;
	--verde-escuro: #5aab35;
	--light-success: #BBF7D0;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.password-input {
  position: relative;
  display: flex;
}

.password-input input {
  flex: 1;
  padding-right: 40px;
}

.password-input .eye-icon {
  position: absolute;
  top: 38%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.bx{
	font-size: 1.7rem;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

html{
	overflow-x: hidden;
}

.login-box {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--light);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark);
  margin-bottom: 10px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 0.1px solid var(--dark-grey);
  border-radius: 7px;
  margin-bottom: 20px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--light);
  background-color: var(--amarelo-utfpr);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: var(--amarelo);
}

.login-box p {
  margin-top: 20px;
  text-align: center;
}

.login-box p a {
  color: var(--amarelo-utfpr);
  font-weight: 600;
  text-decoration: none;
}

.login-box p a:hover {
  text-decoration: underline;
}

body.dark{
	--light: #181a1e;
	--grey: #25252c;
	--dark: #fbfbfb
}

.i-white{
color: white;
}

.btn-primary {
background-color: #03518C;
border: 1px solid #03518C;
border-radius: 26px;
transition: transform 0.2s ease;
}

.btn-primary:active {
transform: scale(1.1);
border-color: #03518C;
}
body.dark .styleMain {
background-color: #181a1e;
color: #fff;
}
body{
	background: var(--grey);
	overflow-x: hidden;
}
.content nav{
	height: 56px;
	background: var(--light);
	padding: 0 24px 0 0;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

.content nav::before{
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}

.content nav a{
	color: var(--dark);
}


.content nav form{
	max-width: 400px;
	width: 100%;
  margin-left: 1rem;
	margin-right: auto;
}

.content nav form .form-input{
	display: flex;
	align-items: center;
	height: 36px;
}

.content nav form .form-input input{
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}

.content nav form .form-input button{
	width: 80px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--amarelo-utfpr);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
.content nav .theme-toggle{
	display: block;
	min-width: 50px;
	height: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
	border-radius: 25px;
}

.content nav .theme-toggle::before{
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--amarelo-utfpr);
	border-radius: 50%;
	transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
	left: calc(100% - (25px - 4px) - 2px);
}
.content main{
	width: 100%;
	padding: 36px 24px;
	max-height: calc(100vh - 56px);
}

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}

.header .left h1{
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
.header .left h2{
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
h1{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
