<nav>
  <i class='bx bx-menu' style="margin-left: 10px;"></i>
  <form action="#">
    <div class="form-input">
      <input type="search" placeholder="Pesquisar..." />
      <button class="search-btn" type="submit">
        <i class='bx bx-search'></i>
      </button>
    </div>
  </form>
  <input type="checkbox" id="theme-toggle" hidden />
  <label for="theme-toggle" class="theme-toggle"></label>
  <a href="#" class="notif">
    <i class='bx bx-bell'></i>
    <span class="count">2</span>
  </a>
</nav>
