<!-- mobile-sidebar.component.html -->
<nav class="nav-mobile">
    <ul class="side-menu">
        <li [ngClass]="{'active': isActive('/home')}">
          <a routerLink="/home">
            <i class="bx bx-home"></i>
            
          </a>
        </li>
        <li [ngClass]="{'active': isActive('/movimentar-orcamento')}">
          <a routerLink="/movimentar-orcamento">
            <i class='bx bx-refresh' ></i>
          </a>
        </li>
        <li [ngClass]="{'active': isActive('/entidades-list')}">
          <a routerLink="/entidades-list" title="Lista de Entidades">
            <i class='bx bxs-detail'></i>
          </a>
        </li>
        <li [ngClass]="{'active': isActive('/criar-entidade')}">
          <a routerLink="/criar-entidade" title="Criar Entidades">
            <i class='bx bx-plus'></i>
          </a>
        </li>
        <li [ngClass]="{'active': isActive('/editar-entidades')}">
          <a routerLink="/editar-entidades" title="editar Entidades">
            <i class='bx bxs-edit'></i>
          </a>
        </li>
        <li [ngClass]="{'active': isActive('/users-list')}">
          <a routerLink="/users-list" title="Usuários">
            <i class='bx bx-user'></i>
          </a>
        </li>
        <li [ngClass]="{'active': isActive('/criar-user')}">
          <a routerLink="/criar-user" title="Criar Usuários">
            <i class='bx bx-user-plus'></i>
          </a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a title='Logout' href="/" class="logout">
            <i class="bx bx-log-out-circle"></i>
          </a>
        </li>
      </ul>
  </nav>
  